=size($width, $height)
  font-size: $height + px
  width: ($width / $height)+em

.icon
  display: inline-block
  height: 1em
  width: 1em
  fill: inherit
  stroke: inherit

.icon-star-centre
  +size(117,23)

.icon-arrow
  +size(70,8)

.icon-poligon
  +size(42,46)
  fill: none
  stroke: $text