.header
  padding: 17px 50px 0 30px
  font-size: 12px
  line-height: 23px
  +clr

.header__left
  float: left
  color: $gray
  .logo
    margin-right: 35px
  > span
    display: inline-block
    vertical-align: middle

.header__right
  float: right

.header__phone
  display: inline-block
  line-height: 1.2
  color: inherit
  text-decoration: none
  +f(hb, 12, 0.25)
  em
    color: $gray
    font-style: normal

.header__lang
  display: inline-block
  text-transform: uppercase
  +f(hb, 10, 0.25)
  background: none
  color: inherit


.logo
  display: inline-block
  vertical-align: middle
  color: inherit
  text-decoration: none
  fill: $text
  +hide-text



.nav
  width: 33px
  min-height: $content-height

.nav__inner
  position: relative
  transform: rotate(90deg)
  transform-origin: bottom left
  width: 100vh
  min-width: $content-height
  height: 33px
  margin-top: -33px
  overflow: hidden
  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 23px
    width: 10px
    height: 10px
    background: $text

.nav__list
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: nowrap
  align-items: flex-end
  align-content: center
  height: 33px
  width: 100%
  padding: 6px 30px 0 50px
  box-sizing: border-box
  > li
    display: flex
    width: auto
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 6px
    width: 100%
    background: $gray

.nav__back
  width: 100%
  .nav__list
    color: $gray
    .nav__link
      &:hover
        color: $text

.nav__front
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 100%
  overflow: hidden
  pointer-events: none
  transition: width 0.1s linear
  .nav__list
    color: $text
    &:before
      background: $text
  .nav__link
    &:hover
      color: $text

.nav__link
  display: inline-block
  color: inherit
  text-decoration: none
  background: none
  +f(hb, 10, 0.25)
  text-transform: uppercase
  line-height: 1
  +trans(color)


//---------------------------------------------------------------------------
//            ##### begin common blocks #####
//---------------------------------------------------------------------------

.blue-circle
  width: 510px
  height: 510px
  border-radius: 50%
  background-color: #75BDC4
  background-image: linear-gradient(to top, #CDF0E9 27%, #2B92A5 100%)


.price
  display: inline-block
  +f(hb, 72, 0.05)

.price__small
  display: inline-block
  font-size: 24px
  letter-spacing: 0
  sup
    vertical-align: super
    font-size: 12px


.details-btn
  display: inline-block
  background: none
  +f(hb, 10, 0.5)
  text-transform: uppercase
  text-decoration: none
  color: inherit
  line-height: 40px
  > span
    display: inline-block
    vertical-align: middle
  .icon-arrow
    vertical-align: middle
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  &:hover
    .icon-arrow
      transform: translateX(30px)


.section
  position: relative


.btn
  position: relative
  z-index: 0
  display: inline-block
  text-decoration: none
  color: inherit
  box-sizing: border-box
  text-align: center
  background: none
  +f(hb, 10, 0.20)
  text-transform: uppercase
  &:hover
    .btn__hover
      width: 100%

.btn__hover
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 0
  height: 100%
  overflow: hidden
  +trans(width)
  &:before
    content: attr(data-hover)
    position: absolute
    z-index: -1
    top: 0
    left: 0
    bottom: 0
    width: 100%
    box-sizing: border-box
    overflow: hidden

.deco
  position: relative
  display: inline-block
  +f(hr, 12, 0.25)

.deco_polygon
  width: 41px
  height: 46px
  line-height: 46px
  font-size: 18px
  letter-spacing: 0.05em
  text-align: center
  .icon-polygon
    position: absolute
    top: 0
    left: 0

.deco_circle
  width: 33px
  height: 33px
  border: 1px solid
  text-align: center
  line-height: 34px
  font-size: 18px
  letter-spacing: 0
  border-radius: 50%


.heading
  display: block
  +f(hb, 16, 0.3)
  text-transform: uppercase
  color: $text

.heading__small-text
  margin-bottom: 5px
  display: block
  font-size: 12px
  letter-spacing: 0.15em
  color: #AAA

.heading_center
  text-align: center

.heading_large
  font-size: 18px
  .heading__small-text
    font-size: 12px

.heading_small
  font-size: 12px

.heading_border
  position: relative
  padding-bottom: 17px
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100px
    height: 3px
    background: $text
  .heading__small-text
    margin-bottom: 8px
    color: inherit


.text
  +f(bsr, 16)
  line-height: 1.375
  p
    margin: 12px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-top: 0

.amount
  +f(hb, 18)
  line-height: 1

.amount__sign
  font-size: 30px
  display: inline-block
  vertical-align: middle
  margin-right: 10px

.amount__value
  font-size: 36px
  display: inline-block
  vertical-align: middle
  font-weight: normal

.amount__text
  position: relative
  display: inline-block
  vertical-align: bottom
  bottom: 3px
  font-size: 18px
  margin-left: 10px

.amount_md
  // .amount__sign
  .amount__value
    font-size: 48px
  .amount__text
    bottom: 5px

.amount_lrg
  .amount__sign
    font-size: 48px
  .amount__value
    font-size: 60px
  .amount__text
    font-size: 24px
    bottom: 6px


.input
  display: block
  width: 100%
  height: 52px
  padding: 0
  box-sizing: border-box
  +f(bsr, 16, 0.03)
  color: $text
  +trans(color)
  border: none
  box-shadow: none
  -webkit-appearance: none
  overflow: hidden
  +placeholder
    color: $text-light
    line-height: normal
    +trans
  &:hover
    +placeholder
      color: $text
  &:focus
    +placeholder
      color: $text
      transform: translate(50px, 0)

textarea.input
  height: 214px



//---------------------------------------------------------------------------
//            ^^^^^  end common blocks  ^^^^^
//---------------------------------------------------------------------------




//---------------------------------------------------------------------------
//            ##### begin main slider #####
//---------------------------------------------------------------------------

.main-slider
  position: relative
  z-index: 1
  height: 656px
  overflow: hidden
  transition: background-color 0.5s linear
  background-color: none
  &:after
    content: ""
    position: absolute
    z-index: 5
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: transform 0.5s linear
    transform: translate3d(0, 100%, 0)
    background: #FFF
  &.is-hidden
    // background-color: #ccc
    &:after
      transform: translate3d(0, 0, 0)
    .main-slider__slides
      transform: scale(0.8)
    .main-slider__morph
      opacity: 0
      transition-delay: 0s

.main-slider__slides
  transform-origin: top center
  position: relative
  z-index: 2
  transition: transform 0.5s linear

.main-slider__morph
  position: absolute
  top: 100px
  left: 50%
  width: 510px
  height: 510px
  margin-left: -255px
  transition: opacity 0.01s linear
  transition-delay: 0.3s

.main-slider__paginator
  position: absolute
  z-index: 3
  top: 175px
  left: 50%
  width: 40px
  margin-left: -20px
  text-align: center
  button
    display: block
    margin-bottom: 5px
    width: 40px
    height: 40px
    text-align: center
    color: $text
    +f(hb, 12, 0.25)
    line-height: 2
    background: none
    opacity: 0.3
    +trans(opacity)
    &:hover,
    &.is-active
      opacity: 1


.slide
  position: relative
  z-index: 1
  width: 100%
  height: 656px
  &.slick-active
    .slide__img
      animation: img-slide-in 0.4s ease
    .slide__content
      animation: content-slide-in 0.4s ease

.slide__img
  position: absolute
  z-index: 0
  bottom: 0
  left: 0
  max-width: 100%
  transform-origin: bottom center
  .slick-slide &
    animation: img-slide-out 0.4s ease

.slide__content
  position: absolute
  z-index: 1
  top: 180px
  left: percentage(740/1368)
  width: 500px
  font-size: 36px
  line-height: 1.2
  letter-spacing: 0.05em
  .slick-slide &
    animation: content-slide-out 0.4s ease

//---------------------------------------------------------------------------
//            ^^^^^  end main slider  ^^^^^
//---------------------------------------------------------------------------



//---------------------------------------------------------------------------
//            ##### begin catalog #####
//---------------------------------------------------------------------------

.catalog
  height: $content-height
  position: relative
  z-index: 0
  overflow: hidden
  +wos
  #morph
    opacity: 0
    transition: opacity 0.3s linear
  .deco
    position: absolute
    top: 145px
    right: 125px
    opacity: 0
    visibility: hidden
    transform: translateY(30px)
    transition: all 0.2s linear

  &.is-init
    // height: 100vh
    // z-index: 95
    #morph
      z-index: 1
    .main-slider
      z-index: 0

  &.is-animate
    #morph
      opacity: 1
    .catalog-category
      &:before
        opacity: 0
        transition-delay: 0.2s
        visibility: hidden
    .catalog-category__item
      width: 33.3333%
      &:before
        opacity: 0
        visibility: hidden
    .catalog-btn
      &:before
        opacity: 0
        visibility: hidden

  &.is-done
    .catalog-category
      top: 335px
      width: 1600px
      margin-left: -800px
    .catalog-btn
      color: #AAA
      letter-spacing: 0.5em
      width: auto
    .catalog-btn__hover
      background: none
      color: $text
    .catalog-btn__hover-in
      width: auto
    .catalog-btn__hover-text
      &:before
        content: ""
        position: absolute
        top: 100%
        left: 0
        right: em(4,12)
        height: 3px
        background: $text
    .deco
      opacity: 1
      visibility: visible
      transform: none
      transition-delay: 0.3s

.catalog__inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  +scroll

.catalog-category
  position: absolute
  z-index: 2
  top: 609px
  left: 50%
  height: 44px
  width: 510px
  margin-left: -255px
  box-sizing: border-box
  transition: all 0.5s linear
  font-size: 0
  &:before
    content: ""
    position: absolute
    z-index: 0
    top: 0
    left: 0
    right: 0
    width: 510px
    height: 100%
    margin: auto
    background: #FFF
    box-shadow: 0 0 0 3px $text, 0 0 0 13px #FFF
    transition: all 0.2s linear
    visibility: visible
    opacity: 1

.catalog-category__item
  position: relative
  z-index: 1
  display: inline-block
  vertical-align: middle
  width: 170px
  height: 100%
  text-align: center
  overflow: hidden
  pointer-events: none
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 1px
    background: $text
    transition: all 0.3s linear
    opacity: 1
    visibility: visible
  &:first-child
    &:before
      display: none
  &.clone
    display: none
    &.slick-slide
      display: block

  &.is-active, &.slick-center
    .catalog-btn
      transform: scale(1.3)
      // font-size: 18px
  &.slick-center
    // .catalog-btn
    //   font-size: 18px
    .catalog-btn__hover
      width: 100%

  &.slick-slide
    .catalog-btn__hover-text,
    .catalog-btn__front,
    .catalog-btm__hover
      transition-duration: 0.3s
  &.slick-center
    .catalog-btn__hover-text,
    .catalog-btn__front,
    .catalog-btm__hover
      // transition-delay: 0.3s

.catalog-btn
  display: inline-block
  position: relative
  z-index: 1
  height: 44px
  width: 170px
  line-height: 44px
  +f(hb, 10, 0.20)
  color: $text
  text-transform: uppercase
  text-decoration: none
  text-align: center
  // transition: all 0.3s linear
  overflow: hidden
  white-space: nowrap
  pointer-events: all
  &:hover
    .catalog-btn__hover
      width: 100%

.catalog-btn__front
  transition: all 0.3s linear

.catalog-btn__hover
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 0
  height: 100%
  overflow: hidden
  transition: width 0.2s linear
  background: $text
  color: #FFF
  box-shadow: -2px 0 0 0 $text

.catalog-btn__hover-in
  position: absolute
  z-index: -1
  top: 0
  left: 0
  bottom: 0
  width: 170px
  box-sizing: border-box
  overflow: hidden

.catalog-btn__hover-text
  display: inline-block
  position: relative
  line-height: 1.5
  // transition: all 0.5s linear


//---------------------------------------------------------------------------
//            ^^^^^  end catalog  ^^^^^
//---------------------------------------------------------------------------



//---------------------------------------------------------------------------
//            ##### begin section facts #####
//---------------------------------------------------------------------------

.facts
  position: relative
  padding-top: 360px
  margin-bottom: 265px
  box-sizing: border-box
  > .heading
    text-align: center
  .deco
    position: absolute
  .deco-1
    top: 93px
    right: 50%
    margin-right: -330px
  .deco-2
    top: 1070px
    left: 100px
  .deco-3
    top: 1850px
    right: 240px
  .deco-4
    bottom: 340px
    right: 165px

.facts__heading
  text-align: center
  .heading
    display: inline-block
    text-align: left
    line-height: 1.875

.facts__text
  max-width: 780px
  margin: 200px auto 450px
  +clr

.facts__column
  float: left
  width: 50%
  box-sizing: border-box
  &:first-child
    float: left
    padding-right: 30px
  &:last-child
    float: right
    padding-left: 30px

.facts-group
  height: 270px
  position: relative
  margin: 165px 0 65px

.facts-group__inner
  position: relative
  z-index: 1
  max-width: 1000px
  height: 100%
  margin: auto
  // box-shadow: 0 0 0 1px #ccc


.box
  position: relative
  height: 520px
  margin: 180px 0 390px
  box-sizing: border-box
  +vertical
  white-space: nowrap

.box__bg
  position: absolute
  z-index: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-image: url('../img/svg/man.svg')

.box__inner
  position: relative
  z-index: 1
  display: inline-block
  vertical-align: middle
  // width: 720px
  // height: 190px
  white-space: normal
  font-size: 16px
  // .table
  //   position: absolute
  //   top: 0
  //   left: 0


.curve
  position: absolute
  z-index: 0
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  > svg
    display: block

.skyline
  stroke-dasharray: 4000px
  stroke-dashoffset: -4000px
  > svg
    display: block
    transition: stroke-dashoffset 2s ease
  &.is-animate
    stroke-dashoffset: 0


.fact
  position: absolute
  width: 312px
  padding: 0 0 0 40px
  box-sizing: border-box
  +f(bsr, 16)

.fact-1
  top: 90px
  left: 0

.fact-2
  top: 0
  right: 120px

.fact__number
  display: block
  margin: 14px 0 14px -40px
  padding: 10px 10px 10px 40px
  border: 1px solid
  box-sizing: border-box
  +f(hb, 30)
  color: $text
  background: #FFF


.timeline
  position: absolute
  top: 450px
  left: 50%
  height: 1px
  width: 2000px
  background: $text
  transform: translateX(-470px)

.timeline__year
  position: absolute
  bottom: 0
  width: 35px
  height: 30px
  +f(bsr, 12, 0.15)
  &:before
    content: ""
    position: absolute
    bottom: -4.5px
    left: 0
    width: 5px
    height: 10px
    background: $text
  &:first-child
    &:before
      width: 10px
      height: 10px
      border-radius: 50%
  $delta: 15
  @for $i from 1 through 30
    $delta: ceil($delta * 1.344)
    &:nth-child(#{$i + 1})
      left: (45 * $i + $delta) + px


.table
  position: relative
  background: #FFF
  > table
    width: 100%
    table-layout: fixed
    position: relative
    z-index: 1
    text-align: left
  td, th
    box-sizing: border-box

.table__border
  position: absolute
  z-index: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  svg
    display: block
    transition: stroke-dashoffset 1.5s ease
  .men-table &
    stroke-dasharray: 910px
    stroke-dashoffset: 910px
  .partners-table &
    stroke-dasharray: 910px
    stroke-dashoffset: 910px
  &.is-animate
    stroke-dashoffset: 0


.men-table
  width: 720px

.men-table__border
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  stroke-dasharray: 910px
  stroke-dashoffset: 910px
  svg
    display: block
    transition: stroke-dashoffset 1.5s ease
  &.is-animate
    stroke-dashoffset: 0

// .men-table__table
//   width: 100%

.men-table__cell
  text-align: left
  padding: 0 10px 0 45px
  vertical-align: middle
  box-sizing: border-box
  &:first-child
    width: 196px
  &:nth-child(2)
    width: 235px
  &:last-child
    width: 290px

.men-table__row1
  .men-table__cell
    height: 90px

.men-table__row2
  .men-table__cell
    height: 100px


.partners-table
  width: 720px

// .partners-table__table
//   width: 100%

.partners-table__row1
  .partners-table__cell
    height: 124px
    &:first-child
      vertical-align: top
      padding: 40px 0 0 50px

.partners-table__row2
  .partners-table__cell
    height: 66px

.partners-table__cell
  vertical-align: middle
  padding-left: 70px
  box-sizing: border-box
  &:first-child
    width: 202px


//---------------------------------------------------------------------------
//            ^^^^^  end section facts  ^^^^^
//---------------------------------------------------------------------------




//---------------------------------------------------------------------------
//            ##### begin head #####
//---------------------------------------------------------------------------

.head
  position: relative
  height: 423px
  margin-bottom: 90px
  .deco
    position: absolute
    z-index: 3
  .deco-1
    top: 230px
    right: 100px
  .deco-2
    top: -190px
    left: 150px

.head__bg
  position: absolute
  z-index: 0
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-image: linear-gradient(to top, #CDF0E9 0%, #42BAAD 100%)

.head__img
  position: absolute
  z-index: 1
  bottom: 0
  left: 120px
  img
    display: block

.head__text
  position: absolute
  z-index: 2
  top: 73px
  left: 70px
  +f(hb, 40, 0.8)
  line-height: 1.75
  text-transform: uppercase

.head_capability
  .deco-1
    top: 180px
    right: 458px

.head_partners
  .deco-1
    top: -90px
    right: 345px
  .head__bg
    background-image: linear-gradient(to top, #EDE4F6 0%, #4297BA 100%)
  .head__img
    left: auto
    right: 0

.head_contacts
  .deco-1
    top: 54px
    right: 85px
  .deco-2
    top: -120px
    left: 75px
  .head__bg
    background-image: linear-gradient(to top, #FFDCC5 0%, #25A1B0 100%)
  .head__img
    left: 140px
  .head__text
    top: 108px

//---------------------------------------------------------------------------
//            ^^^^^  end head  ^^^^^
//---------------------------------------------------------------------------



//---------------------------------------------------------------------------
//            ##### begin section advantage #####
//---------------------------------------------------------------------------

// .advantage

.advantage__inner
  max-width: 900px
  margin: auto
  padding-left: 150px
  box-sizing: border-box
  +clr
  +f(bsr, 14)
  color: $text-light
  line-height: 1.57

.advantage__column
  float: left
  width: 33.3333%
  box-sizing: border-box
  padding-left: 50px
  .heading
    margin-bottom: 25px

//---------------------------------------------------------------------------
//            ^^^^^  end section advantage  ^^^^^
//---------------------------------------------------------------------------



//---------------------------------------------------------------------------
//            ##### begin section partners #####
//---------------------------------------------------------------------------

.partners
  margin-bottom: 235px

.partners__inner
  position: relative
  max-width: 1080px
  padding: 0 70px
  margin: auto
  box-sizing: border-box
  +f(bsr, 14)
  line-height: 1.44
  color: $text-light
  .deco
    position: absolute
    top: 40px
    right: 140px

.partners__heading
  margin-bottom: 70px
  font-size: 16px
  .heading
    margin-bottom: 25px


.tabs
  margin: 35px -70px 0

.tabs__head
  +clr

.tabs__footer
  margin-top: 35px
  +clr

.tabs__footer-cell
  float: left
  width: 33.333%
  box-sizing: border-box
  padding: 0 0 0 70px

.tab-btn
  position: relative
  float: left
  width: 360px
  height: 120px
  line-height: 120px
  box-sizing: border-box
  background: none
  -webkit-appearance: none
  text-align: left
  text-decoration: none
  &:hover
    .tab-btn__hover
      width: 100%

.tab-btn__front
  position: relative
  z-index: 0
  line-height: 1.4

.tab-btn__hover
  position: absolute
  z-index: 1
  top: 0
  left: 0
  bottom: 0
  width: 0
  +trans(width)
  overflow: hidden

.tab-btn__hover-in
  line-height: 1.4
  height: 100%
  width: 360px
  background: $text
  .heading
    color: #FFF

.tab-btn__front,
.tab-btn__hover-in
  padding: 22px 0 0 70px

//---------------------------------------------------------------------------
//            ^^^^^  end section partners  ^^^^^
//---------------------------------------------------------------------------



//---------------------------------------------------------------------------
//            ##### begin sevtion contacts #####
//---------------------------------------------------------------------------

.contacts__inner
  width: 1080px
  margin: auto

//---------------------------------------------------------------------------
//            ^^^^^  end sevtion contacts  ^^^^^
//---------------------------------------------------------------------------