.header
  padding: 17px 50px 0 30px
  font-size: 12px
  line-height: 23px
  +clr

.header__left
  float: left
  color: $gray
  .logo
    margin-right: 35px
  > span
    display: inline-block
    vertical-align: middle

.header__right
  float: right

.header__phone
  display: inline-block
  line-height: 1.2
  color: inherit
  text-decoration: none
  +f(hb, 12, 0.25)
  em
    color: $gray
    font-style: normal

.header__lang
  display: inline-block
  text-transform: uppercase
  +f(hb, 10, 0.25)
  background: none
  color: inherit


.logo
  display: inline-block
  vertical-align: middle
  color: inherit
  text-decoration: none
  fill: $text
  +hide-text



.nav
  width: 33px
  min-height: $content-height

.nav__inner
  position: relative
  transform: rotate(90deg)
  transform-origin: bottom left
  width: 100vh
  min-width: $content-height
  height: 33px
  margin-top: -33px
  overflow: hidden
  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 23px
    width: 10px
    height: 10px
    background: $text

.nav__list
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: nowrap
  align-items: flex-end
  align-content: center
  height: 33px
  width: 100%
  padding: 6px 30px 0 50px
  box-sizing: border-box
  > li
    display: flex
    width: auto
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 6px
    width: 100%
    background: $gray

.nav__back
  width: 100%
  .nav__list
    color: $gray
    .nav__link
      &:hover
        color: $text

.nav__front
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 100%
  overflow: hidden
  pointer-events: none
  transition: width 0.1s linear
  .nav__list
    color: $text
    &:before
      background: $text
  .nav__link
    &:hover
      color: $text

.nav__link
  display: inline-block
  color: inherit
  text-decoration: none
  background: none
  +f(hb, 10, 0.25)
  text-transform: uppercase
  line-height: 1
  +trans(color)


.morph
  position: absolute
  // width: 510px
  // height: 510px
  text-align: center
  // line-height: 510px
  z-index: 0
  top: 100px
  left: 50%
  // margin-left: -255px
  transform: translate3d(-50%, 0, 0)
  > svg
    display: inline-block
    transform: translate3d(0,0,0)



//---------------------------------------------------------------------------
//            ##### begin main slider #####
//---------------------------------------------------------------------------

.main-slider
  position: relative
  z-index: 0
  height: 656px
  overflow: hidden
  &:after
    content: ""
    position: absolute
    z-index: 5
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: transform 0.5s linear
    transform: translate3d(0, 100%, 0)
    background: #FFF
  &.is-animate
    &:after
      transform: translate3d(0, 0, 0)
    .main-slider__slides
      transform: scale(0.5)
      transition: transform 0.5s linear

.main-slider__slides
  transform-origin: bottom center
  position: relative
  z-index: 2

.main-slider__morph
  position: absolute
  top: 100px
  left: 50%
  width: 510px
  height: 510px
  margin-left: -255px
  > svg
    display: inline-block
    vertical-align: middle

.main-slider__paginator
  position: absolute
  z-index: 3
  top: 175px
  left: 50%
  width: 40px
  margin-left: -20px
  text-align: center
  button
    display: block
    margin-bottom: 5px
    width: 40px
    height: 40px
    text-align: center
    color: $text
    +f(hb, 12, 0.25)
    line-height: 2
    background: none
    opacity: 0.3
    +trans(opacity)
    &:hover,
    &.is-active
      opacity: 1


.slide
  position: relative
  z-index: 1
  width: 100%
  height: 656px
  &.slick-active
    .slide__img
      animation: img-slide-in 0.4s ease
    .slide__content
      animation: content-slide-in 0.4s ease

.slide__img
  position: absolute
  z-index: 0
  bottom: 0
  left: 0
  max-width: 100%
  transform-origin: bottom center
  .slick-slide &
    animation: img-slide-out 0.4s ease

.slide__content
  position: absolute
  z-index: 1
  top: 180px
  left: percentage(740/1368)
  width: 500px
  font-size: 36px
  line-height: 1.2
  letter-spacing: 0.05em
  .slick-slide &
    animation: content-slide-out 0.4s ease

//---------------------------------------------------------------------------
//            ^^^^^  end main slider  ^^^^^
//---------------------------------------------------------------------------



.price
  display: inline-block
  +f(hb, 72, 0.05)

.price__small
  display: inline-block
  font-size: 24px
  letter-spacing: 0
  sup
    vertical-align: super
    font-size: 12px


.details-btn
  display: inline-block
  background: none
  +f(hb, 10, 0.5)
  text-transform: uppercase
  text-decoration: none
  color: inherit
  line-height: 40px
  > span
    display: inline-block
    vertical-align: middle
  .icon-arrow
    vertical-align: middle
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  &:hover
    .icon-arrow
      transform: translateX(30px)


.section
  position: relative


//---------------------------------------------------------------------------
//            ##### begin catalog #####
//---------------------------------------------------------------------------

.catalog
  height: $content-height
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 0
  overflow: hidden
  +wos
  &.is-init
    height: 100vh
    z-index: 95
    .catalog__inner
      overflow: scroll
      overflow-x: hidden
      right: -16px
      .mac-os &
        right: -15px
    .catalog__head
      z-index: 2
      top: 0
      height: 680px
      padding: 0
      &:before
        top: 606px
        transform: translate(-50%, 0)
    .catalog__btns
      position: absolute
      z-index: 2
      top: 609px
      left: 50%
      transform: translate(-50%, 0)
  &.is-animate
    .catalog__head
      &:before
        transition: all 0.5s linear
    .catalog__btns
      transition: all 0.5s linear
    .catalog__morph
      opacity: 1
  &.is-done
    .catalog__head
      &:before
        top: 260px
        width: 790px
        height: 260px
        box-shadow: none
    .catalog__btns
      top: 365px
      width: 1200px
      background: none
      .btn + .btn
        border: none

.catalog__inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

.catalog__head
  position: absolute
  z-index: 1
  top: 596px
  left: 16px
  right: 16px
  height: 44px
  padding: 13px 0
  overflow: hidden
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    width: 518px
    height: 50px
    box-sizing: border-box
    background: #FFF
    bottom: 0
    border: 3px solid $text
    box-shadow: 0 0 0 10px #FFF
    transform: translate(-50%, -50%)

.catalog__morph
  position: absolute
  z-index: 1
  top: 100px
  left: 50%
  // transform: translate3d(-50%, 0, 0)
  width: 510px
  margin-left: -255px
  height: 510px
  line-height: 510px
  font-size: 0
  opacity: 0
  transition: opacity 0.2s linear
  text-align: center
  > svg
    display: inline-block
    vertical-align: middle

.catalog__btns
  display: flex
  align-items: center
  justify-content: space-between
  width: 512px
  margin: auto
  box-sizing: border-box
  font-size: 0
  white-space: nowrap
  .btn
    vertical-align: top
    height: 44px
    width: 170px
    line-height: 44px
    transition: all 0.3s linear
    box-sizing: content-box
    .btn__hover
      background: $text
      color: #FFF
      box-shadow: -2px 0 0 0 $text
      &:before
        width: 170px
    &:hover
      .btn__hover
        width: 170px
  .btn + .btn
    border-left: 1px solid $text


//---------------------------------------------------------------------------
//            ^^^^^  end catalog  ^^^^^
//---------------------------------------------------------------------------



.btn
  position: relative
  z-index: 0
  display: inline-block
  text-decoration: none
  color: inherit
  box-sizing: border-box
  text-align: center
  background: none
  +f(hb, 10, 0.20)
  text-transform: uppercase
  &:hover
    .btn__hover
      width: 100%

.btn__hover
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 0
  height: 100%
  overflow: hidden
  +trans(width)
  &:before
    content: attr(data-hover)
    position: absolute
    z-index: -1
    top: 0
    left: 0
    bottom: 0
    width: 100%
    box-sizing: border-box
    overflow: hidden

.btn_main
  height: 44px
  width: 170px
  line-height: 44px
  box-sizing: content-box
  .btn__hover
    background: $text
    color: #FFF
    &:before
      width: 170px
  & + &
    border-left: 1px solid $text
