nav#nav.nav
  .nav__inner
    .nav__back
      ul.nav__list
        li: a.nav__link(href="#home") Home
        li: a.nav__link(href="#facts") Facts
        li: a.nav__link(href="#advantages") Advantages
        li: a.nav__link(href="#capabilities") Opportunities
        li: a.nav__link(href="#partners") Partnership
        li: a.nav__link(href="#contacts") Contacts
    .nav__front(style="width: 0%")
      ul.nav__list
        li: a.nav__link(href="#home") Home
        li: a.nav__link(href="#facts") Facts
        li: a.nav__link(href="#advantages") Advantages
        li: a.nav__link(href="#capabilities") Opportunities
        li: a.nav__link(href="#partners") Partnership
        li: a.nav__link(href="#contacts") Contacts
