include ../../_mixins
.popup#best-offer3
  .popup__inner

    .object.object_wide
      .object__inner

        .object__gallery

          .object__buttons
            button.object__slider-prev(type="button")
              span
                +icon("arrow")
                | Prev photo
            button.object__slider-next(type="button")
              span
                | Next photo
                +icon("arrow")
            button.object__close(type="button")
              span
                | Minimize object
                +icon("arrow-sm")

          .object__slider
            .object__slide(style="background-image:url('img/objects/7.jpg')")
            .object__slide(style="background-image:url('img/objects/7.1.jpg')")
            .object__slide(style="background-image:url('img/objects/7.2.jpg')")

          .info.table
            .table__border
              include ../../../img/svg/svg-borders/optimized/info-table.svg
            .info__inner
              .info__cell.info__cell1
                a.btn.btn_object(href="#")
                  .btn__hover
                    .btn__hover-in
                      | Щербакова 16
                      br
                      small Киев, ул. Щербакова, 16
                  .btn__front
                    | Щербакова 16
                    br
                    small Киев, ул. Щербакова, 16
              .info__cell.info__cell3
                .info-item
                  small.info-item__label Area
                  | 5 500 М<sup>2</sup>
              .info__cell.info__cell2
                .info-item
                  small.info-item__label Completion year
                  | 2014
              .info__cell.info__cell2
                .info-item
                  small.info-item__label Total floors
                  | 55
              .info__cell.info__cell3
                .info-item
                  small.info-item__label Free area
                  | 5

        .object__detail
          h4.heading.heading_red
            | Special offer
          p.
            Now there is a 25% discount on the first year of the
            lease size upon signing the contract before the summer

          a.btn.btn_link(href="#")
            span.btn__hover(data-hover="Download presentation")
            span Download presentation
