/* done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

@font-face { font-family: "Bebas"; src: url("../fonts/bebas.eot"); src: url("../fonts/bebas.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas.woff") format("woff"), url("../fonts/bebas.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Bold"; src: url("../fonts/helveticaneuecyr-bold.eot"); src: url("../fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold.woff") format("woff"), url("../fonts/helveticaneuecyr-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Roman"; src: url("../fonts/helveticaneuecyr-roman.eot"); src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Ultralight"; src: url("../fonts/helveticaneuecyr-ultralight.eot"); src: url("../fonts/helveticaneuecyr-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-ultralight.woff") format("woff"), url("../fonts/helveticaneuecyr-ultralight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueCyr-Light"; src: url("../fonts/helveticaneuecyr-light.eot"); src: url("../fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "PFBeauSansPro-Regular"; src: url("../fonts/pfbeausanspro-reg.eot"); src: url("../fonts/pfbeausanspro-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/pfbeausanspro-reg.woff") format("woff"), url("../fonts/pfbeausanspro-reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "PFBeauSansPro-Light"; src: url("../fonts/pfbeausanspro-light.eot"); src: url("../fonts/pfbeausanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/pfbeausanspro-light.woff") format("woff"), url("../fonts/pfbeausanspro-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-size: 12px; line-height: 1.4; font-family: "PFBeauSansPro-Regular", Helvetica, Arial, sans-serif; font-weight: normal; color: #333; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { min-width: 1200px; min-height: 600px; height: 100%; overflow: hidden; position: relative; }
@media only screen and (max-width: 1200px) { body { overflow-x: auto; overflow-y: hidden; } }
@media only screen and (max-height: 680px) { body { overflow-x: hidden; overflow-y: auto; } }

.center-wrap { max-width: 1368px; margin: 0 auto; position: relative; z-index: 0; overflow: hidden; height: 100%; }

.outer { min-width: 1200px; min-height: 680px; width: 1368px; position: absolute; top: 0; left: 0; right: 0; height: 100%; margin: auto; z-index: 1; overflow: hidden; -webkit-overflow-scrolling: touch; }

.inner { position: absolute; top: 0; left: 0; right: -16px; bottom: 0; overflow-x: hidden; overflow-y: scroll; right: -17px; }
.mac-os .inner { right: -15px; }

#header { position: absolute; z-index: 99; top: 0; left: 0; right: 0; max-width: 1368px; margin: auto; }

#nav { position: absolute; z-index: 100; top: 0; right: 0; bottom: 0; }

#morph { position: absolute; z-index: 0; top: 15px; left: 50%; margin-left: -684px; width: 1368px; height: 680px; pointer-events: none; }

.icon { display: inline-block; height: 1em; width: 1em; fill: inherit; stroke: inherit; }

.icon-star-centre { font-size: 23px; width: 5.08696em; }

.icon-arrow { font-size: 8px; width: 8.75em; }

@-webkit-keyframes img-slide-out { to { -webkit-transform: scale(0.6); transform: scale(0.6); opacity: 0; } }

@keyframes img-slide-out { to { -webkit-transform: scale(0.6); transform: scale(0.6); opacity: 0; } }
@-webkit-keyframes img-slide-in { 0%, 50% { -webkit-transform: translate(0, 100%) scale(0.8); transform: translate(0, 100%) scale(0.8); opacity: 0; }
  100% { -webkit-transform: none; transform: none; opacity: 1; } }
@keyframes img-slide-in { 0%, 50% { -webkit-transform: translate(0, 100%) scale(0.8); transform: translate(0, 100%) scale(0.8); opacity: 0; }
  100% { -webkit-transform: none; transform: none; opacity: 1; } }
@-webkit-keyframes content-slide-out { to { -webkit-transform: translate(0, -50px) scale(0.95); transform: translate(0, -50px) scale(0.95); opacity: 0; } }
@keyframes content-slide-out { to { -webkit-transform: translate(0, -50px) scale(0.95); transform: translate(0, -50px) scale(0.95); opacity: 0; } }
@-webkit-keyframes content-slide-in { from { -webkit-transform: translate(0, 50px); transform: translate(0, 50px); opacity: 0; }
  to { -webkit-transform: none; transform: none; opacity: 1; } }
@keyframes content-slide-in { from { -webkit-transform: translate(0, 50px); transform: translate(0, 50px); opacity: 0; }
  to { -webkit-transform: none; transform: none; opacity: 1; } }
@-webkit-keyframes full-screen { from { top: 50%; left: 50%; right: 50%; bottom: 50%; }
  to { top: 0; left: 0; bottom: 0; right: 0; } }
@keyframes full-screen { from { top: 50%; left: 50%; right: 50%; bottom: 50%; }
  to { top: 0; left: 0; bottom: 0; right: 0; } }
.header { padding: 17px 50px 0 30px; font-size: 12px; line-height: 23px; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header__left { float: left; color: #AAA; }
.header__left .logo { margin-right: 35px; }
.header__left > span { display: inline-block; vertical-align: middle; }

.header__right { float: right; }

.header__phone { display: inline-block; line-height: 1.2; color: inherit; text-decoration: none; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 12px; letter-spacing: 0.25em; }
.header__phone em { color: #AAA; font-style: normal; }

.header__lang { display: inline-block; text-transform: uppercase; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 10px; letter-spacing: 0.25em; background: none; color: inherit; }

.logo { display: inline-block; vertical-align: middle; color: inherit; text-decoration: none; fill: #333; font: 0/0 a; text-shadow: none; color: transparent; }

.nav { width: 33px; min-height: 680px; }

.nav__inner { position: relative; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); -webkit-transform-origin: bottom left; -ms-transform-origin: bottom left; transform-origin: bottom left; width: 100vh; min-width: 680px; height: 33px; margin-top: -33px; overflow: hidden; }
.nav__inner:before { content: ""; position: absolute; bottom: 0; left: 23px; width: 10px; height: 10px; background: #333; }

.nav__list { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; height: 33px; width: 100%; padding: 6px 30px 0 50px; box-sizing: border-box; }
.nav__list > li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: auto; }
.nav__list:before { content: ""; position: absolute; top: 0; left: 0; height: 6px; width: 100%; background: #AAA; }

.nav__back { width: 100%; }
.nav__back .nav__list { color: #AAA; }
.nav__back .nav__list .nav__link:hover { color: #333; }

.nav__front { position: absolute; top: 0; left: 0; bottom: 0; width: 100%; overflow: hidden; pointer-events: none; -webkit-transition: width 0.1s linear; transition: width 0.1s linear; }
.nav__front .nav__list { color: #333; }
.nav__front .nav__list:before { background: #333; }
.nav__front .nav__link:hover { color: #333; }

.nav__link { display: inline-block; color: inherit; text-decoration: none; background: none; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 10px; letter-spacing: 0.25em; text-transform: uppercase; line-height: 1; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }

.blue-circle { width: 510px; height: 510px; border-radius: 50%; background-color: #75BDC4; background-image: -webkit-linear-gradient(bottom, #CDF0E9 27%, #2B92A5 100%); background-image: linear-gradient(to top, #CDF0E9 27%, #2B92A5 100%); }

.price { display: inline-block; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 72px; letter-spacing: 0.05em; }

.price__small { display: inline-block; font-size: 24px; letter-spacing: 0; }
.price__small sup { vertical-align: super; font-size: 12px; }

.details-btn { display: inline-block; background: none; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 10px; letter-spacing: 0.5em; text-transform: uppercase; text-decoration: none; color: inherit; line-height: 40px; }
.details-btn > span { display: inline-block; vertical-align: middle; }
.details-btn .icon-arrow { vertical-align: middle; -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.details-btn:hover .icon-arrow { -webkit-transform: translateX(30px); -ms-transform: translateX(30px); transform: translateX(30px); }

.section { position: relative; }

.btn { position: relative; z-index: 0; display: inline-block; text-decoration: none; color: inherit; box-sizing: border-box; text-align: center; background: none; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 10px; letter-spacing: 0.2em; text-transform: uppercase; }
.btn:hover .btn__hover { width: 100%; }

.btn__hover { position: absolute; z-index: 1; top: 0; left: 0; width: 0; height: 100%; overflow: hidden; -webkit-transition: width 0.2s linear; transition: width 0.2s linear; }
.btn__hover:before { content: attr(data-hover); position: absolute; z-index: -1; top: 0; left: 0; bottom: 0; width: 100%; box-sizing: border-box; overflow: hidden; }

.deco { display: inline-block; font-family: "HelveticaNeueCyr-Roman", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 12px; letter-spacing: 0.25em; }

.main-slider { position: relative; z-index: 1; height: 656px; overflow: hidden; -webkit-transition: background-color 0.5s linear; transition: background-color 0.5s linear; background-color: none; }
.main-slider:after { content: ""; position: absolute; z-index: 5; top: 0; left: 0; width: 100%; height: 100%; -webkit-transition: -webkit-transform 0.5s linear; transition: transform 0.5s linear; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); background: #FFF; }
.main-slider.is-hidden:after { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.main-slider.is-hidden .main-slider__slides { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
.main-slider.is-hidden .main-slider__morph { opacity: 0; -webkit-transition-delay: 0s; transition-delay: 0s; }

.main-slider__slides { -webkit-transform-origin: top center; -ms-transform-origin: top center; transform-origin: top center; position: relative; z-index: 2; -webkit-transition: -webkit-transform 0.5s linear; transition: transform 0.5s linear; }

.main-slider__morph { position: absolute; top: 100px; left: 50%; width: 510px; height: 510px; margin-left: -255px; -webkit-transition: opacity 0.01s linear; transition: opacity 0.01s linear; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }

.main-slider__paginator { position: absolute; z-index: 3; top: 175px; left: 50%; width: 40px; margin-left: -20px; text-align: center; }
.main-slider__paginator button { display: block; margin-bottom: 5px; width: 40px; height: 40px; text-align: center; color: #333; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 12px; letter-spacing: 0.25em; line-height: 2; background: none; opacity: 0.3; -webkit-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
.main-slider__paginator button:hover, .main-slider__paginator button.is-active { opacity: 1; }

.slide { position: relative; z-index: 1; width: 100%; height: 656px; }
.slide.slick-active .slide__img { -webkit-animation: img-slide-in 0.4s ease; animation: img-slide-in 0.4s ease; }
.slide.slick-active .slide__content { -webkit-animation: content-slide-in 0.4s ease; animation: content-slide-in 0.4s ease; }

.slide__img { position: absolute; z-index: 0; bottom: 0; left: 0; max-width: 100%; -webkit-transform-origin: bottom center; -ms-transform-origin: bottom center; transform-origin: bottom center; }
.slick-slide .slide__img { -webkit-animation: img-slide-out 0.4s ease; animation: img-slide-out 0.4s ease; }

.slide__content { position: absolute; z-index: 1; top: 180px; left: 54.09357%; width: 500px; font-size: 36px; line-height: 1.2; letter-spacing: 0.05em; }
.slick-slide .slide__content { -webkit-animation: content-slide-out 0.4s ease; animation: content-slide-out 0.4s ease; }

.catalog { height: 680px; position: absolute; top: 0; left: 0; right: 0; z-index: 0; overflow: hidden; -webkit-overflow-scrolling: touch; }
.catalog #morph { opacity: 0; -webkit-transition: opacity 0.3s linear; transition: opacity 0.3s linear; }
.catalog .deco { position: absolute; top: 145px; right: 125px; opacity: 0; visibility: hidden; -webkit-transform: translateY(30px); -ms-transform: translateY(30px); transform: translateY(30px); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.catalog.is-init { height: 100vh; z-index: 95; }
.catalog.is-init #morph { z-index: 1; }
.catalog.is-init .main-slider { z-index: 0; }
.catalog.is-animate #morph { opacity: 1; }
.catalog.is-animate .catalog-category:before { opacity: 0; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; visibility: hidden; }
.catalog.is-animate .catalog-category__item:before { opacity: 0; visibility: hidden; }
.catalog.is-animate .catalog-btn:before { opacity: 0; visibility: hidden; }
.catalog.is-done .catalog-category { top: 335px; width: 1600px; margin-left: -800px; }
.catalog.is-done .catalog-btn { color: #AAA; letter-spacing: 0.5em; width: auto; }
.catalog.is-done .catalog-btn.is-active { color: #333; }
.catalog.is-done .catalog-btn.is-active .catalog-btn__hover { width: 100%; }
.catalog.is-done .catalog-btn__hover { background: none; color: #333; }
.catalog.is-done .catalog-btn__hover-in { width: auto; }
.catalog.is-done .catalog-btn__hover-text:before { content: ""; position: absolute; top: 100%; left: 0; right: 0.33333em; height: 3px; background: #333; }
.catalog.is-done .deco { opacity: 1; visibility: visible; -webkit-transform: none; -ms-transform: none; transform: none; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }

.catalog__inner { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: scroll; right: -17px; }
.mac-os .catalog__inner { right: -15px; }

.catalog-category { position: absolute; z-index: 2; top: 609px; left: 50%; height: 44px; width: 510px; margin-left: -255px; box-sizing: border-box; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; font-size: 0; }
.catalog-category:before { content: ""; position: absolute; z-index: 0; top: 0; left: 0; right: 0; width: 510px; height: 100%; margin: auto; background: #FFF; box-shadow: 0 0 0 3px #333, 0 0 0 13px #FFF; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; visibility: visible; opacity: 1; }

.catalog-category__item { position: relative; z-index: 1; display: inline-block; vertical-align: middle; width: 33.3333%; height: 100%; text-align: center; overflow: hidden; pointer-events: none; }
.catalog-category__item:before { content: ""; position: absolute; top: 0; left: 0; bottom: 0; width: 1px; background: #333; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; opacity: 1; visibility: visible; }
.catalog-category__item:first-child:before { display: none; }
.catalog-category__item.clone { display: none; }
.catalog-category__item.clone.slick-slide { display: block; }
.catalog-category__item.is-active .catalog-btn { -webkit-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); }
.catalog-category__item.slick-center .catalog-btn__hover { width: 100%; }
.catalog-category__item.slick-slide .catalog-btn__hover-text, .catalog-category__item.slick-slide .catalog-btn__front, .catalog-category__item.slick-slide .catalog-btm__hover { -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.catalog-category__item.slick-center .catalog-btn__hover-text, .catalog-category__item.slick-center .catalog-btn__front, .catalog-category__item.slick-center .catalog-btm__hover { -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }

.catalog-btn { display: inline-block; position: relative; z-index: 1; height: 44px; width: 170px; line-height: 44px; font-family: "HelveticaNeueCyr-Bold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 10px; letter-spacing: 0.2em; color: #333; text-transform: uppercase; text-decoration: none; text-align: center; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; overflow: hidden; white-space: nowrap; pointer-events: all; }
.catalog-btn:hover .catalog-btn__hover { width: 100%; }

.catalog-btn__front { -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }

.catalog-btn__hover { position: absolute; z-index: 1; top: 0; left: 0; width: 0; height: 100%; overflow: hidden; -webkit-transition: width 0.2s linear; transition: width 0.2s linear; background: #333; color: #FFF; box-shadow: -2px 0 0 0 #333; }

.catalog-btn__hover-in { position: absolute; z-index: -1; top: 0; left: 0; bottom: 0; width: 170px; box-sizing: border-box; overflow: hidden; }

.catalog-btn__hover-text { display: inline-block; position: relative; line-height: 1.5; -webkit-transition: font-size 0.5s linear; transition: font-size 0.5s linear; }



/*# sourceMappingURL=screen.css.map */