include ../../_mixins
//BEGIN 404
.not-found
  .not-found__inner
    a.btn-back(href="/en")
      +icon("arrow")
      span Go home

    h1.not-found__title
      span 404
      | There is no such<br>page

    img.not-found__triangle(src="/img/svg/triangle404.svg")
    img.not-found__img(src="/img/canvas3-1.png")

    .deco
      .deco__inner
        | 37” — 2’
//END 404
