
<!--BEGIN 404-->
<div class="not-found">
  <div class="not-found__inner"><a href="/" class="btn-back">
      <svg class="icon icon-arrow">
        <use xlink:href="#icon-arrow"></use>
      </svg><span>Перейти на главную</span></a>
    <h1 class="not-found__title"><span>404</span>Такой страницы<br/>не существует</h1><img src="/img/svg/triangle404.svg" class="not-found__triangle"/><img src="/img/canvas3-1.png" class="not-found__img"/>
    <div class="deco">
      <div class="deco__inner">37” — 2’</div>
    </div>
  </div>
</div>
<!--END 404-->