
<div id="best-offer3" class="popup">
  <div class="popup__inner">
    <!--BEGIN flagship-->
    <div class="object object_wide">
      <div class="object__inner">
        <div class="object__gallery">
          <div class="object__buttons">
            <button type="button" class="object__slider-prev"><span>
                <svg class="icon icon-arrow">
                  <use xlink:href="#icon-arrow"></use>
                </svg> предыдущее фото</span></button>
            <button type="button" class="object__slider-next"><span>следующее фото
                <svg class="icon icon-arrow">
                  <use xlink:href="#icon-arrow"></use>
                </svg></span></button>
            <button type="button" class="object__close"><span>свернуть объект
                <svg class="icon icon-arrow-sm">
                  <use xlink:href="#icon-arrow-sm"></use>
                </svg></span></button>
          </div>
          <div class="object__slider">
            <div style="background-image:url('img/objects/object1.jpg')" class="object__slide"></div>
            <div style="background-image:url('img/objects/object4.jpg')" class="object__slide"></div>
            <div style="background-image:url('img/objects/object2.jpg')" class="object__slide"></div>
            <div style="background-image:url('img/objects/object3.jpg')" class="object__slide"></div>
            <div style="background-image:url('img/objects/object4.jpg')" class="object__slide"></div>
          </div>
          <div class="info table">
            <div class="table__border"><svg width="650" height="180" viewBox="0 0 650 180" xmlns="http://www.w3.org/2000/svg">
    <title>
        info-table
    </title>
    <g stroke-linecap="square" stroke="#333" fill="none" fill-rule="evenodd">
        <g stroke-width="2">
            <path d="M1 1h399v176" class="inner-border"/>
            <path d="M1 90h399v87" class="inner-border"/>
            <path d="M1 90h199v87" class="inner-border"/>
        </g>
        <g stroke-width="3">
            <path d="M1.5 1.5h647v177" class="outer-border"/>
            <path d="M1.5 1.5v177h647" class="outer-border"/>
        </g>
    </g>
</svg>

            </div>
            <div class="info__inner">
              <div class="info__cell info__cell1"><a href="#" class="btn btn_object">
                  <div class="btn__hover">
                    <div class="btn__hover-in">Best Offer 3<br/><small>Київ, вул. Горького, 176</small></div>
                  </div>
                  <div class="btn__front">Best Offer 3<br/><small>Київ, вул. Горького, 176</small></div></a></div>
              <div class="info__cell info__cell3">
                <div class="info-item"><small class="info-item__label">Площадь</small>32 000 М<sup>2</sup></div>
              </div>
              <div class="info__cell info__cell2">
                <div class="info-item"><small class="info-item__label">Год сдачи</small>2014</div>
              </div>
              <div class="info__cell info__cell2">
                <div class="info-item"><small class="info-item__label">Этажность</small>5</div>
              </div>
              <div class="info__cell info__cell3">
                <div class="info-item"><small class="info-item__label">Свободная Площадь</small>2 000 М<sup>2</sup></div>
              </div>
            </div>
          </div>
        </div>
        <div class="object__detail">
          <h4 class="heading heading_red">Выгодное предложение</h4>
          <p>
            Сейчас действует скидка на 1-ый год аренды размером 
            в 25% при подписании договора до начала лета
            
          </p><a href="#" class="btn btn_link"><span data-hover="Скачать презентацию" class="btn__hover"></span><span>Скачать презентацию</span></a>
        </div>
      </div>
    </div>
    <!--END flagship-->
  </div>
</div>