//BEGIN footer
footer.footer
  
  //BEGIN map
  .footer__map
    #map
      img(src="img/map.jpg", alt="", style="min-width:100%")
  //END map
  
  .footer__bottom
    p.footer__copy
      | © StarCentre, 2015
    p.footer__link
      | Design by <a href="#">TRILO</a>
//END footer