meta(charset="utf-8")
block title
  title Template
meta(name="viewport" content="width=1368")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet", media="all", href="/css/screen.css")
block additional-scripts
  script(type="text/javascript",
        data-pace-options='{ "restartOnPushState": false, "restartOnRequestAfter": false }',
        src="/js/pace.min.js")
