header#header.header
  .header__left
    a.logo(href="/")
      +icon("vn-star")
      | Star Centre
    span development group

  .header__right
    a.header__phone(href="tel:+380442204555")
      | <em>+380 (44)</em> 220-45-55

    button.header__lang(type="button") eng

  .header__center
    button.btn.btn_transparent(type="button")
      .btn__front
        | на главную
      .btn__hover
        .btn__hover-in
          | на главную
