header#header.header
  .header__left
    a.logo(href="#")
      +icon("star-centre")
      | Star Centre
    span development group
  
  .header__right
    a.header__phone(href="tel:+380442204555")
      | <em>+380 (44)</em> 220-45-55

    button.header__lang(type="button") eng