mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html.no-js
  head
    meta(charset="utf-8")
    block title
      title Template
    meta(name="viewport" content="width=1368")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" media="all" href="css/screen.css")
    <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
  body
    div(style="position: absolute; top: 0; left: 0;")
      include ../../site/img/icons.svg

    //BEGIN nav
    include _nav
    //END nav

    //BEGIN header
    include _header
    //END header

    //BEGIN outer and inner
    #outer
      #inner
        block content
      include _footer
    //END outer and inner

    //LOAD SCRIPTS
    script(src="js/main.js")