include _mixins
block php
doctype html
html
  head
    include _head
  body.preload
    block icons
      div(style="position: absolute; top: 0; left: 0;")
        include ../../site/img/icons.svg

    block nav
      //BEGIN nav
      include _nav
      //END nav

    block header
      //BEGIN header
      include _header
      //END header

    block main
      //BEGIN outer and inner
      #outer
        #inner
          block content
        include _footer
      //END outer and inner

    //- block footer
    //-   include _footer

    block popups
      //BEGIN popups
      include partials/best-offer1.jade
      include partials/best-offer2.jade
      include partials/best-offer3.jade
      //END popups

    block scripts
      //LOAD SCRIPTS
      script(src="js/main.js")
