nav#nav.nav
  .nav__inner
    .nav__back
      ul.nav__list
        li: a.nav__link(href="#home") Главная
        li: a.nav__link(href="#facts") Факты
        li: a.nav__link(href="#advantages") Преимущества
        li: a.nav__link(href="#capabilities") Возможности
        li: a.nav__link(href="#partners") Партнерство
        li: a.nav__link(href="#contacts") Контакты
    .nav__front(style="width: 0%")
      ul.nav__list
        li: a.nav__link(href="#home") Главная
        li: a.nav__link(href="#facts") Факты
        li: a.nav__link(href="#advantages") Преимущества
        li: a.nav__link(href="#capabilities") Возможности
        li: a.nav__link(href="#partners") Партнерство
        li: a.nav__link(href="#contacts") Контакты
