nav#nav.nav
  .nav__inner
    .nav__back
      ul.nav__list
        li: a.nav__link(href="#") Главная
        li: a.nav__link(href="#") Факты
        li: a.nav__link(href="#") Преимущества
        li: a.nav__link(href="#") Возможности
        li: a.nav__link(href="#") Партнерство
        li: a.nav__link(href="#") Контакты
    .nav__front(style="width: 0%")
      ul.nav__list
        li: a.nav__link(href="#") Главная
        li: a.nav__link(href="#") Факты
        li: a.nav__link(href="#") Преимущества
        li: a.nav__link(href="#") Возможности
        li: a.nav__link(href="#") Партнерство
        li: a.nav__link(href="#") Контакты
