extends _layout

block title
  title Home

block content

    
  //BEGIN catalog
  .catalog
    .catalog__inner

      //BEGIN slider
      #slider1.main-slider
        .main-slider__morph
          .blue-circle
          //- include ../img/svg/optimized/morph.svg
          //- include ../img/svg/morph.svg
        .main-slider__paginator
          button(type="button").is-active 01
          button(type="button") 02
          button(type="button") 03
        
        .main-slider__slides
          .slide
            img.slide__img(src="img/slider/slider1.png", alt="")
            .slide__content
              .slide__text
                | Наиболее выгодное предложение на рынке
                span.price
                  | 6 USD
                  small.price__small
                    | /м<sup>2</sup>

              button.details-btn(type="button")
                span Узнать детали
                +icon("arrow")

          .slide
            img.slide__img(src="img/slider/slider2.png", alt="")
            .slide__content
              .slide__text
                | Наиболее выгодное предложение на рынке
                span.price
                  | 10 USD
                  small.price__small
                    | /м<sup>2</sup>

              button.details-btn(type="button")
                span Узнать детали
                +icon("arrow")

          .slide
            img.slide__img(src="img/slider/slider3.png", alt="")
            .slide__content
              .slide__text
                | Наиболее выгодное предложение на рынке
                span.price
                  | 20 USD
                  small.price__small
                    | /м<sup>2</sup>

              button.details-btn(type="button")
                span Узнать детали
                +icon("arrow")
      //END slider

      canvas(id="morph", resize)

      .catalog__btns
        a.catalog__btn.btn(href="#", data-morph-state="circle")
          span.btn__hover(data-hover="Арендовать")
          span.btn__front Арендовать
        a.catalog__btn.btn(href="#", data-morph-state="square")
          span.btn__hover(data-hover="Купить")
          span.btn__front Купить
        a.catalog__btn.btn(href="#", data-morph-state="triangle") 
          span.btn__hover(data-hover="Инвестировать")
          span.btn__front Инвестировать
  //END catalog

  //- //BEGIN section 2
  //- section.section.section-1

  //-   //BEGIN slider
  //-   #slider2.main-slider
  //-     .main-slider__paginator
  //-       button(type="button").is-active 01
  //-       button(type="button") 02
  //-       button(type="button") 03
      
  //-     .main-slider__slides
  //-       .slide
  //-         img.slide__img(src="img/slider/slider4.png", alt="")
  //-         .slide__content
  //-           .slide__text
  //-             | Наиболее выгодное предложение на рынке
  //-             span.price
  //-               | 6 USD
  //-               small.price__small
  //-                 | /м<sup>2</sup>

  //-           button.details-btn(type="button")
  //-             span Узнать детали
  //-             +icon("arrow")

  //-       .slide
  //-         img.slide__img(src="img/slider/slider5.png", alt="")
  //-         .slide__content
  //-           .slide__text
  //-             | Наиболее выгодное предложение на рынке
  //-             span.price
  //-               | 10 USD
  //-               small.price__small
  //-                 | /м<sup>2</sup>

  //-           button.details-btn(type="button")
  //-             span Узнать детали
  //-             +icon("arrow")

  //-       .slide
  //-         img.slide__img(src="img/slider/slider6.png", alt="")
  //-         .slide__content
  //-           .slide__text
  //-             | Наиболее выгодное предложение на рынке
  //-             span.price
  //-               | 20 USD
  //-               small.price__small
  //-                 | /м<sup>2</sup>

  //-           button.details-btn(type="button")
  //-             span Узнать детали
  //-             +icon("arrow")
    //- //END slider
  //- //END section 2