doctype html
html
  head
    meta(charset="UTF-8")
    title VN Star || Development Group
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="css/mobile.css")
    meta(name="format-detection" content="telephone=no")
body

  header.header
    a.lang(href="#") Рус
    span.logo VN Star<br>development group

  .main
    h1.main__title
      | Best<br>opportunities
      small in
      | Real<br>Estate

    .main__pic
      .main__circle
      img(src="img/mobile.png", alt="picture")

    .contacts
      a(href="tel:+380442204555") +380 (44) 220-45-55
      br
      b Kyiv<br>Chervonozoryanyi 42

  footer.footer
    | For full experience visit this site
    br
    | from desktop or tablet
