
<div class="invest">
  <div class="deco deco-1">
    <div class="deco__inner">
      <svg class="icon icon-figure">
        <use xlink:href="#icon-figure"></use>
      </svg>
    </div>
  </div>
  <div class="deco deco-2">
    <div class="deco__inner">
      <svg class="icon icon-target">
        <use xlink:href="#icon-target"></use>
      </svg>
    </div>
  </div>
  <div class="text-block">
    <h3 class="heading">
      We are trusted<br>
      even international<br>
      investors
    </h3>
    <p>All that we started - we're finished!</p>
  </div>
  <h3 class="heading">Investment<br>options:</h3>
  <div class="tabs tabs_mod js-tabs-2">
    <header class="tabs__head table">
      <div class="table__border"><svg width="870" height="161" viewBox="0 0 870 161" xmlns="http://www.w3.org/2000/svg">
    <title>
        tabs-head-mod
    </title>
    <g stroke-linecap="square" stroke="#333" fill="none" fill-rule="evenodd">
        <path d="M1.5 1.508h579v156" class="inner-border"/>
        <path d="M1.5 1.508h289v156" class="inner-border"/>
        <g stroke-width="3">
            <path d="M1.5 1.517v157h867" class="outer-border"/>
            <path d="M1.5 1.517h867v157" class="outer-border"/>
        </g>
    </g>
</svg>

      </div><a href="#" class="btn btn_tab btn_tab-mod">
        <div class="btn__hover">
          <div class="btn__hover-in"><strong class="heading"><small class="heading__small-text">01</small>Residential<br>Property</strong></div>
        </div>
        <div class="btn__front"><strong class="heading"><small class="heading__small-text">01</small>Residential<br>Property</strong></div></a><a href="#" class="btn btn_tab btn_tab-mod">
        <div class="btn__hover">
          <div class="btn__hover-in"><strong class="heading"><small class="heading__small-text">02</small>Office<br>property</strong></div>
        </div>
        <div class="btn__front"><strong class="heading"><small class="heading__small-text">02</small>Office<br>property</strong></div></a><a href="#" class="btn btn_tab btn_tab-mod">
        <div class="btn__hover">
          <div class="btn__hover-in"><strong class="heading"><small class="heading__small-text">03</small>Shopping<br>and Exhibition<br>Centers</strong></div>
        </div>
        <div class="btn__front"><strong class="heading"><small class="heading__small-text">03</small>ТРЦ и <br> выставочные <br> комплексы</strong></div></a>
    </header>
    <div class="tabs__content">
      <form name="INVEST_1" data-subject="Инвестирование. Жилая недвижимость" class="form table">
        <div class="table__border"><svg width="870" height="360" viewBox="0 0 870 360" xmlns="http://www.w3.org/2000/svg">
    <title>
        tabs-form-mod
    </title>
    <g stroke-linecap="square" stroke="#333" fill="none" fill-rule="evenodd">
        <path d="M1 .5v288h867" class="inner-border"/>
        <path d="M2 .5v236h867" class="inner-border"/>
        <path d="M1 .5v184h867" class="inner-border"/>
        <g stroke-width="3">
            <path d="M1.5 1.5v357h867" class="outer-border"/>
            <path d="M1.5 1.5h867v357" class="outer-border"/>
        </g>
    </g>
</svg>

        </div>
        <div class="form__contact"><span>Загляните к нам на кофе</span>
          <p>Kiev<br>Chervonozorianyi ave.<br>building 42</p><span>или оставте свой номер телефона и мы вам перезвоним:</span>
        </div>
        <div class="form__message">
          <div class="form__message-inner"><strong>Thanks</strong><span>We call you back soon</span></div>
        </div>
        <input type="text" name="name" placeholder="Your name" class="input"/>
        <input type="tel" name="phone" placeholder="Your phone" class="input"/>
        <button type="submit" class="btn btn_submit">
          <div class="btn__hover">
            <div class="btn__hover-in">Send
              <svg class="icon icon-arrow">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </div>
          </div>
          <div class="btn__front">Send
            <svg class="icon icon-arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </button>
      </form>
    </div>
    <div class="tabs__content">
      <form name="INVEST_2" data-subject="Инвестирование. Офисная недвижимость" class="form table">
        <div class="table__border"><svg width="870" height="360" viewBox="0 0 870 360" xmlns="http://www.w3.org/2000/svg">
    <title>
        tabs-form-mod
    </title>
    <g stroke-linecap="square" stroke="#333" fill="none" fill-rule="evenodd">
        <path d="M1 .5v288h867" class="inner-border"/>
        <path d="M2 .5v236h867" class="inner-border"/>
        <path d="M1 .5v184h867" class="inner-border"/>
        <g stroke-width="3">
            <path d="M1.5 1.5v357h867" class="outer-border"/>
            <path d="M1.5 1.5h867v357" class="outer-border"/>
        </g>
    </g>
</svg>

        </div>
        <div class="form__contact"><span>Загляните к нам на кофе</span>
          <p>Kiev<br>Chervonozorianyi ave.<br>building 42</p><span>или оставте свой номер телефона и мы вам перезвоним:</span>
        </div>
        <div class="form__message">
          <div class="form__message-inner"><strong>Thanks</strong><span>We call you back soon</span></div>
        </div>
        <input type="text" name="name" placeholder="Your name" class="input"/>
        <input type="tel" name="phone" placeholder="Your phone" class="input"/>
        <button type="submit" class="btn btn_submit">
          <div class="btn__hover">
            <div class="btn__hover-in">Send
              <svg class="icon icon-arrow">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </div>
          </div>
          <div class="btn__front">Send
            <svg class="icon icon-arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </button>
      </form>
    </div>
    <div class="tabs__content">
      <form name="INVEST_3" data-subject="Инвестирование. ТРЦ и выставочные комплексы" class="form table">
        <div class="table__border"><svg width="870" height="360" viewBox="0 0 870 360" xmlns="http://www.w3.org/2000/svg">
    <title>
        tabs-form-mod
    </title>
    <g stroke-linecap="square" stroke="#333" fill="none" fill-rule="evenodd">
        <path d="M1 .5v288h867" class="inner-border"/>
        <path d="M2 .5v236h867" class="inner-border"/>
        <path d="M1 .5v184h867" class="inner-border"/>
        <g stroke-width="3">
            <path d="M1.5 1.5v357h867" class="outer-border"/>
            <path d="M1.5 1.5h867v357" class="outer-border"/>
        </g>
    </g>
</svg>

        </div>
        <div class="form__contact"><span>Загляните к нам на кофе</span>
          <p>Kiev<br>Chervonozorianyi ave.<br>building 42</p><span>или оставте свой номер телефона и мы вам перезвоним:</span>
        </div>
        <div class="form__message">
          <div class="form__message-inner"><strong>Thanks</strong><span>We call you back soon</span></div>
        </div>
        <input type="text" name="name" placeholder="Your name" class="input"/>
        <input type="tel" name="phone" placeholder="Your phone" class="input"/>
        <button type="submit" class="btn btn_submit">
          <div class="btn__hover">
            <div class="btn__hover-in">Send
              <svg class="icon icon-arrow">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </div>
          </div>
          <div class="btn__front">Send
            <svg class="icon icon-arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </button>
      </form>
    </div>
    <footer class="tabs__footer">
      <div class="tabs__footer-cell">
        <p>We will build houses and cottages</p>
      </div>
      <div class="tabs__footer-cell">
        <p>We develop the concept and<br>bring the work to the end</p>
      </div>
      <div class="tabs__footer-cell">
        <p>
          We will develop trade in Ukraine,
          create marketplaces, that is what
          our leaders are experienced in
        </p>
      </div>
    </footer>
  </div>
</div>