include ../_mixins
.popup#best-offer1
  .popup__inner

    .object.object_wide
      .object__inner

        .object__gallery

          .object__buttons
            button.object__slider-prev(type="button")
              span
                +icon("arrow")
                |  предыдущее фото
            button.object__slider-next(type="button")
              span
                | следующее фото
                +icon("arrow")
            button.object__close(type="button")
              span
                | свернуть объект
                +icon("arrow-sm")

          .object__slider
            .object__slide(style="background-image:url('/img/objects/2.jpg')")
            .object__slide(style="background-image:url('/img/objects/2.1.jpg')")
            .object__slide(style="background-image:url('/img/objects/2.2.jpg')")
            .object__slide(style="background-image:url('/img/objects/2.3.jpg')")
            .object__slide(style="background-image:url('/img/objects/2.4.jpg')")
            .object__slide(style="background-image:url('/img/objects/2.5.jpg')")


          .info.table
            .table__border
              include ../../img/svg/svg-borders/optimized/info-table.svg
            .info__inner
              .info__cell.info__cell1
                a.btn.btn_object(href="#")
                  .btn__hover
                    .btn__hover-in
                      | Нововокзальная 3
                      br
                      small Киев, ул. Нововокзальная, 3
                  .btn__front
                    | Нововокзальная 3
                    br
                    small Киев, ул. Нововокзальная, 3
              .info__cell.info__cell3
                .info-item
                  small.info-item__label Площадь
                  | 7 826 М<sup>2</sup>
              .info__cell.info__cell2
                .info-item
                  small.info-item__label Год сдачи
                  | 2015
              .info__cell.info__cell2
                .info-item
                  small.info-item__label Этажность
                  | 10
              .info__cell.info__cell3
                .info-item
                  small.info-item__label Свободная Площадь
                  | 5 500 М<sup>2</sup>

        .object__detail
          h4.heading.heading_red
            | Выгодное предложение
          p.
            Сейчас действует скидка на 1-ый год аренды размером
            в 25% при подписании договора до начала лета

          a.btn.btn_link(href="#")
            span.btn__hover(data-hover="Скачать презентацию")
            span Скачать презентацию
