include ../_mixins
.popup#best-offer3
  .popup__inner

    //BEGIN flagship
    //- .object-wrapper
    .object.object_wide
      .object__inner
  
        .object__gallery
          
          .object__buttons
            button.object__slider-prev(type="button")
              span
                +icon("arrow")
                |  предыдущее фото
            button.object__slider-next(type="button")
              span
                | следующее фото
                +icon("arrow")
            button.object__close(type="button")
              span
                | свернуть объект
                +icon("arrow-sm")
            
          .object__slider
            .object__slide(style="background-image:url('https://placeimg.com/1600/800/any')")
            .object__slide(style="background-image:url('https://placeimg.com/1400/800/any')")
            .object__slide(style="background-image:url('https://placeimg.com/1100/800/any')")
            .object__slide(style="background-image:url('https://placeimg.com/1400/900/any')")
            //- .object__slide(style="background-image:url('img/objects/object1.jpg')")
            //- .object__slide(style="background-image:url('img/objects/object4.jpg')")
            //- .object__slide(style="background-image:url('img/objects/object2.jpg')")
            //- .object__slide(style="background-image:url('img/objects/object3.jpg')")
            //- .object__slide(style="background-image:url('img/objects/object4.jpg')")
            
        
          .info.table
            .table__border
              include ../../img/svg/svg-borders/optimized/info-table.svg
            .info__inner
              .info__cell.info__cell1
                a.btn.btn_object(href="#")
                  .btn__hover
                    .btn__hover-in
                      | Best Offer 3
                      br
                      small Київ, вул. Горького, 176
                  .btn__front
                    | Best Offer 3
                    br
                    small Київ, вул. Горького, 176
              .info__cell.info__cell3
                .info-item
                  small.info-item__label Площадь
                  | 32 000 М<sup>2</sup>
              .info__cell.info__cell2
                .info-item
                  small.info-item__label Год сдачи
                  | 2014
              .info__cell.info__cell2
                .info-item
                  small.info-item__label Этажность
                  | 5
              .info__cell.info__cell3
                .info-item
                  small.info-item__label Свободная Площадь
                  | 2 000 М<sup>2</sup>

        .object__detail
          h4.heading.heading_red
            | Выгодное предложение
          p.
            Сейчас действует скидка на 1-ый год аренды размером 
            в 25% при подписании договора до начала лета

          a.btn.btn_link(href="#")
            span.btn__hover(data-hover="Скачать презентацию")
            span Скачать презентацию
    //END flagship